﻿@model IEnumerable<Indoor_app.Models.beacons>

@{
    ViewBag.Title = "Список биконов";
}

<h2>Список биконов</h2>

@if (Indoor_app.Models.AccessLevelUsers.Users.Contains(User.Identity.Name))
{
    <p>
        @Html.ActionLink("Добавить бикон", "Create")
    </p>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("ID бикона", "Index", new { sortOrder = ViewBag.IdSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.major)
        </th>
        <th>
            @Html.ActionLink("Уровень заряда", "Index", new { sortOrder = ViewBag.BatteryLevelSortParm })
        </th>

        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.ActionLink("ID ноды", "Index", new { sortOrder = ViewBag.NodeIdSortParm })
        </th>
        <th>
            @Html.ActionLink("Номер этажа", "Index", new { sortOrder = ViewBag.MapLevelSortParm })
        </th>
        <th>
            @Html.ActionLink("Название здания ENG", "Index", new { sortOrder = ViewBag.BuildingSortParm })
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "beacons", new { id = item.beaconID }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.beaconID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.minor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.batteryLevel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.language)
                </td>
                <td>
                    <a href="@Url.Action("Details", "nodes", new { id = item.nodes.nodeID })" rel="noopener noreferrer" target="_blank">
                        @Html.DisplayFor(modelItem => item.nodes.nodeID)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "floors", new { id = item.nodes.floors.floorID })" rel="noopener noreferrer" target="_blank">
                        @Html.DisplayFor(modelItem => item.nodes.floors.mapLevel)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "buildings", new { id = item.nodes.floors.buildings.buildingID })" rel="noopener noreferrer" target="_blank">
                        @Html.DisplayFor(modelItem => item.nodes.floors.buildings.buildingName)
                    </a>
                </td>
                @if (Indoor_app.Models.AccessLevelUsers.Users.Contains(User.Identity.Name))
                {
                    <td>
                        <a href="@Url.Action("Details", "beacons", new { id = item.beaconID })" class="btn btn-success">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "beacons", new { id = item.beaconID })" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Вы точно хотите удалить бикон c ID @item.beaconID?')">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                }

            </tr>
        }
    }

</table>
