﻿@model Indoor_app.Models.buildings

@{
    ViewBag.Title = "Удаление здания";
}

    <h2>Удаление здания</h2>

<h3>Точно хотите удалить это здание?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.buildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buildingNameRu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildingNameRu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matrixFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matrixFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageFile)
        </dt>

        <dd>
            @if (Model.imageFile != null)
            {
                <img src="@Url.Content(Model.imageFile)" width="250" height="250" multiple />
            }
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.house)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.house)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compass)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку зданий", "Index")
        </div>
    }
</div>
