﻿@model Indoor_app.Models.buildings

@{
    ViewBag.Title = "Описание здания";
}

<h2>Описание</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.buildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buildingNameRu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildingNameRu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matrixFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matrixFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageFile)
        </dt>

        @if (Model.imageFile != null)
        {
    <dd>
        <img src="@Url.Content(Model.imageFile)" width="250" height="250" multiple />
    </dd>
        }

         @if (Model.imageFile == null)
        {
          <dd>
              <text>Не загружена</text>
          </dd>
        }

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.latt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.latt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.longt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.longt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.city)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.street)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.street)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.house)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.house)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.compass)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.compass)
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.buildingID }) |
    @Html.ActionLink("К списку зданий", "Index")
</p>
