﻿@model Indoor_app.Models.wifi

@{
    ViewBag.Title = "Описание Wi-Fi точки";
}

    <h2>Описание</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nodes.nodeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nodes.nodeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id = Model.wifiID }) |
    @Html.ActionLink("К списку Wi-Fi точек", "Index")
</p>
