﻿@model Indoor_app.Models.floors

@{
    ViewBag.Title = "Описание этажа";
}

    <h2>Описание</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.directory)
        </dt>

        @if (Model.directory != null)
        {
            <dd>
                <img src="@Url.Content(Model.directory + Model.mapLevel.ToString() + Model.imageFilePath + ".png")" width="250" height="250" multiple />
            </dd>
        }

        @if (Model.directory == null)
        {
            <dd>
                <text>Не загружена</text>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.mapLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mapLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buildings.buildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildings.buildingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id = Model.floorID }) |
    @Html.ActionLink("К списку этажей", "Index")
</p>
