﻿@{
    ViewBag.Title = "Интерактивная карта";
}


@section Scripts {
    @Scripts.Render("~/js/jquery.min.js")
    @Scripts.Render("~/js/jquery.jsPlumb-1.4.1-all-min.js")
    @Scripts.Render("~/js/jsPlumb-2.1.2.js")
    @Scripts.Render("~/js/jquery.contextMenu.min.js")

    @Scripts.Render("~/js/jquery-ui.js")

    @Scripts.Render("~/js/myproject.js")
}

@section AddToHead {
    <link href="@Url.Content("~/css/myproject.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/jquery.contextMenu.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/jquery-ui.css")" rel="stylesheet" type="text/css" />
}

@model Indoor_app.Controllers.MapViewModel


<body id="main">
    <div>

        <div id="sticky">
            <input id="chkAdd" type="checkbox" checked><label>Добавить</label><!--Add-->
            <hr />
            <input type="radio" name="rbMode" id="rbIB" value="iBeacon" checked> iBeacon<br />
            <input type="radio" name="rbMode" id="rbNode" value="Node"> Node<br />
            <input type="radio" name="rbMode" id="rbTran" value="Transition"> Transition</br>
            <input type="radio" name="rbMode" id="rbWiFi" value="Wi-Fi"> Wi-Fi</br><!--dmrdrsv-->
        </div>
        <div id="sticky" style="margin-top: 210px">
            <label>Узлы</label><!--Uzels-->
            <br>
            <hr>
            <input class="chbox" type="checkbox" name="rbMode" id="cbIB" value="ibeacon" checked> iBeacon<br />
            <input class="chbox" type="checkbox" name="rbMode" id="cbNode" value="node" checked> Node<br />
            <input class="chbox" type="checkbox" name="rbMode" id="cbTran" value="tran" checked> Transition</br>
            <input class="chbox" type="checkbox" name="rbMode" id="cbWiFi" value="Wi-Fi" checked> Wi-Fi</br><!--dmrdrsv-->
        </div>



        <div id="buttons">
            <div class="dropdown_container">
                @using (Html.BeginForm("Index", "map", FormMethod.Post))
                {
                    @Html.DropDownListFor(m => m.BuildingId,
                        Model.Buildings.Select(x => new SelectListItem()
                        {
                            Text = x.buildingNameRu,
                            Value = x.buildingID.ToString()
                        }))
                    <input type="submit"  value="Выбрать" />
                }
            </div>

            @foreach (var floor in Model.Floors)
            {
                <input class="buttons" id="@($"button{floor.mapLevel}")" type="button" onclick="@($"level('{floor.mapLevel}')")" value="@($"Level{floor.mapLevel}")" />
            }

        </div>
        <div id="buttons_for_JSON">
            <input class="buttons" id="btnGet" type="button" value="GET" />
            <input class="buttons" id="btnPost" type="button" value="POST" />
        </div>
        <div id="Box"></div>

        <div id="dialog" title="Choose">
            <form id="form">
                <input type="radio" name="r" value=0>0<br>
                <input type="radio" name="r" value=1>1<br>
                <input type="radio" name="r" value=2>2<br>
                <input type="radio" name="r" value=3>3<br>
                <input type="radio" name="r" value=4>4<br>
                <input type="radio" name="r" value=5>5<br>
                <input type="radio" name="r" value=6>6<br>
                <input type="radio" name="r" value=7>7<br>
                <input type="radio" name="r" value=8>8<br>
                <input type="radio" name="r" value=9>9<br>
            </form>
        </div>
        <div class="edit_panel">
            <label class="edit_panel_label">Описание</label>
            <input class="edit_panel_input" id="edit_panel_description" type="text" name="name" placeholder="Описание">
            <label class="edit_panel_label">Номер комнаты</label>
            <input class="edit_panel_input" id="edit_panel_roomNum" type="text" name="name" placeholder="Номер комнаты">
            <label class="edit_panel_label">Тип комнаты</label>
            <input class="edit_panel_input" id="edit_panel_roomType" type="text" name="name" placeholder="Тип комнаты">
            <div class="edit_panel_btn_group">
                <button id="edit_save" class="edit_panel_btn"> Save </button>
                <button id="edit_close" class="edit_panel_btn"> Close </button>
            </div>
        </div>
        <div id="Matrix"></div>
        <div id="Inform"></div>

    </div>
</body>
