﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | МИЭМ.Навигация</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @RenderSection("AddToHead", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.IsAuthenticated)
                {
                    <a href="/info/index" class="navbar-brand"> <img src="~/Content/images/logo.png" alt="Company logo" width="50" height="50" /></a>
                }
                else
                {
                    <a href="/Account/login" class="navbar-brand"> <img src="~/Content/images/logo.png" alt="Company logo" width="50" height="50" /></a>

                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Информация", "Index", "Info")</li>
                        if (Indoor_app.Models.AccessLevelUsers.Users.Contains(User.Identity.Name))
                        {
                            <li>@Html.ActionLink("Редактор", "Index", "map")</li>
                        }
                        <li><a href="https://documenter.getpostman.com/view/10122624/SzKVRJ2L?version=latest" rel="noopener noreferrer" target="_blank">Документация по API</a></li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer id="footer">
            <hr />
            <text class="pull-left">МИЭМ.Навигация &copy; 2019 - @DateTime.Now.Year</text>
            <text><a href="https://indoor.moscowlab.info/" class="pull-right" rel="noopener noreferrer" target="_blank">О проекте</a></text>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
