﻿@model Indoor_app.Models.nodes

@{
    ViewBag.Title = "Описание ноды";
}

    <h2>Описание</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coordX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coordX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coordY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coordY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floors.floorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floors.floorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id = Model.nodeID }) |
    @Html.ActionLink("К списку нод", "Index")
</p>
